COMPOSE_PROJECT_NAME=warehouse
POSTGRES_DB=warehouse
POSTGRES_USER=warehouse_user
POSTGRES_PASSWORD=warehouse_password
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_EXPORTER_USER=postgres_exporter
POSTGRES_EXPORTER_PASSWORD=postgres_exporter_password
PATRONI_SCOPE=warehouse-cluster
PATRONI_SUPERUSER_USERNAME=postgres
PATRONI_SUPERUSER_PASSWORD=postgres_password
PATRONI_REPLICATION_USERNAME=replicator
PATRONI_REPLICATION_PASSWORD=replicator_password
PATRONI_REWIND_USERNAME=postgres
PATRONI_REWIND_PASSWORD=postgres_password
PATRONI_TTL=30
PATRONI_LOOP_WAIT=10
PATRONI_RETRY_TIMEOUT=10
ETCD_INITIAL_CLUSTER_TOKEN=warehouse-etcd-cluster
MINIO_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword
MINIO_BACKUP_USER=backup_service
MINIO_BACKUP_PASSWORD=backup_service_password
MINIO_PROMETHEUS_AUTH_TYPE=public
BUCKET_BACKUP_NAME=warehouse-backups
BACKUP_RETENTION_COUNT=5
BACKUP_INTERVAL=*/30 * * * *

APP_ENV=dev
MIGRATION_VERSION=
SEED_COUNT=60000
TEST_DB_NAME=warehouse_test
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
API_PORT=8080
API_THREADS=4
API_DB_POOL_SIZE=16
API_USE_REVENUE_MV=false
K6_FIRST_ORDER_ID=400001
K6_ORDER_COUNT=300000
K6_SUMMARY_EXPORT=/profiling/1/k6_summary.json
